{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<main class="container my-3">
		<section class="row">
			<div class="col">
				<h1>Register</h1>

				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}
                {{ form_row(registrationForm.lastname, {label: 'Nom'}) }}
                {{ form_row(registrationForm.firstname, {label: 'Prénom'}) }}    
				{{ form_row(registrationForm.email, {label: 'E-mail'}) }}


				{{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }}
				{{ form_row(registrationForm.RGPDConsent) }}

				<button type="submit" class="btn btn-success me-2">M'inscrire</button>
                <a href="{{ path('app_main')}}" class="btn btn-danger">Accueil</a>
			</div>
		</section>
	</main>


	{{ form_end(registrationForm) }}
{% endblock %}

