{% extends 'base.html.twig' %}

{% block title %}Ticket index
{% endblock %}

{% block body %}

	<main class="container my-3">
		<section class="row">
			<div class="col">
				<h1>Ticket index</h1>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Auteur</th>
								<th>Titre</th>
								<th>Description</th>
								<th>Résolu</th>
								<th>Date de création</th>
								<th>Image</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for ticket in tickets %}
								<tr>
									<td>{{ ticket.users.firstname}} {{ ticket.users.lastname}}</td>
									<td>{{ ticket.title }}</td>
									<td>{{ ticket.description }}</td>
									<td>{{ ticket.isSolved ? 'Yes' : 'No' }}</td>
									<td>{{ ticket.dateTime ? ticket.dateTime|date('Y-m-d H:i:s') : '' }}</td>
									<td>{% for picture in pictures %}
											{% if picture.ticket.id == ticket.id %}
												<img src="{{ asset('image/pictures/' ~ picture.name) }}" alt="" srcset="">
											{% endif %} 
										{% endfor %}
									</td>
									<td>
										<a href="{{ path('app_ticket_show', {'id': ticket.id}) }}" class="btn btn-primary me-3">Montrer</a>
										<a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}" class="btn btn-primary">Modifier</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="6">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				
				<a href="{{ path('app_ticket_new') }}" class="btn btn-primary">Ajouter un ticket</a>
                <a href="{{ path('admin_index') }}" class="btn btn-primary ms-2">Retour Admin</a>
			</div>
		</section>
	</main>

{% endblock %}

