{% extends 'main/index.html.twig' %}

{% block title %}Ticket
{% endblock %}

{% block show %}


	<main class="container my-3">
		<section class="row">
			<div class="col">
				<h1>Ticket</h1>

				<table class="table">
					<tbody>
						<tr>
							<th>Auteur</th>
							<td>{{ tickets.users.firstname }}
								{{ tickets.users.lastname}}</td>
						</tr>
						<tr>
							<th>Title</th>
							<td>{{ tickets.title }}</td>
						</tr>
						<tr>
							<th>Description</th>
							<td>{{ tickets.description }}</td>
						</tr>
						<th>images disponible</th>
						<td>
							{% for picture in pictures %}
								{% if picture.ticket.id == tickets.id %}
									<img src="{{ asset('image/pictures/' ~ picture.name) }}" alt="" srcset="">
								{% endif %}
							{% endfor %}
						</td>
						<tr>
							<th>DateTime</th>
							<td>{{ tickets.dateTime ? tickets.dateTime|date('Y-m-d H:i:s') : '' }}</td>
						</tr>
					</tbody>
				</table>

				<h1>Commentaires</h1>
				<table class="table">
					<tbody>
						{% for comment in comments %}
							{% if comment.tickets.id == tickets.id %}
								<tr>
									<th>Crée le</th>
									<td>{{ comment.dateTime ? comment.dateTime|date('Y-m-d H:i:s'): '' }}</td>
								</tr>
								{% if comment.tagUser != null %}
									<tr>
										<th>Tag</th>
										<td>{{ comment.tagUser }}</td>
									</tr>
								{% endif %}
								<tr>
									<th>Auteur</th>
									<td>{{ comment.users.firstname }}
										{{ ticket.users.lastname}}</td>
								</tr>
								<tr>
									<th>Contenu</th>
									<td>{{ comment.content }}</td>
								</tr>
							{% endif %}
						{% else %}
							<div class="col-12">
								<p>Il n'y a pas encore de commentaires pour ce ticket</p>
							</div>
						{% endfor %}
					</tbody>
				</table>
				<a href="{{ path('app_ticket_edit', {'id': tickets.id}) }}" class="btn btn-primary">Modifier</a>

			</div>
		</section>
	</main>

{% endblock %}
