{% extends 'main/index.html.twig' %}

{% block title %}Tickets
{% endblock %}

{% block show %}
	<section class="container my-3">
		<div class="row">
			<div class="col">
				<article class="col-12">
					<div class="card border-2 border-black">
						<div class="card-body">
							<h2 class="card-title text-center">{{ tickets.title }}</h2>
							<div class="text-body-secondary d-flex justify-content-between">
								<div>{{ tickets.dateTime ? tickets.dateTime|date('Y-m-d H:i:s') : '' }}</div>
								<h4 class="card-subtitle mb-2 text-body-secondary">{{ tickets.id }}</h4>
								<div>{{ tickets.users.firstname }}
									{{ tickets.users.lastname}}</div>
							</div>
							<p class="card-text">{{ tickets.description }}</p>
						</div>
					</div>
					{{ include('comment/_form.html.twig') }}
				</article>
				<h3 class="mt-2">Commentaires</h3>
				{% for comment in comments %}
					{% if comment.ticket.id == tickets.id %}
						<div class="card mb-2">
							<ul class="list-group list-group-flush">
								<li class="list-group-item d-flex justify-content-between bg-black text-light">
									<span>{{ comment.dateTime ? comment.dateTime|date('Y-m-d H:i:s'): '' }}</span>
									<span>{{ comment.users.firstname }}
										{{ comment.users.lastname }}</span>
								</li>
								{% if comment.tagUser != null %}
									<li class="list-group-item">
										{{ comment.tagUser }}
									</li>
								{% endif %}
								<li class="list-group-item">{{ comment.content }}</li>

                            </ul>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="col-12">
                        <p>Il n'y a pas encore de commentaires pour ce ticket</p>
                    </div>        
                {% endfor %}
                <a href="#" class="btn btn-info my-2" id="addBtn">Ajouter un commentaire</a>
				<a href="{{ path('app_show', {'id': tickets.id}) }}" class="btn btn-danger my-2" id="deleteBtn">Annuler l'ajout du commentaire</a>
			</div>
		</div>
	</section>
{% endblock %}
