{% extends 'main/index.html.twig' %}

{% block title %}Ticket
{% endblock %}

{% block show %}

	<main class="container my-3">
		<section class="row">
			<div class="col">

				{# <article class="card-ticket">
                    <h2>{{ tickets.title }}</h2>
                    <div class="card-sub">
                        
                        <span>{{ tickets.dateTime ? tickets.dateTime|date('Y-m-d H:i:s') : '' }}</span>
                        <p>{{ tickets.users.firstname }} {{ tickets.users.lastname}}</p>
                        <h4>{{ tickets.id }}</h4>
                    </div>
                        <p class="card-text">{{ tickets.description }}</p>
                        <span>{{ tickets.isSolved ? 'Yes' : 'No' }}</span>
                </article> #}

				<article class="col-12">
					<div class="card border-2 border-danger">
						<div class="card-body">
							<h2 class="card-title">{{ tickets.title }}</h2>
							<div class="text-body-secondary d-flex justify-content-between"> <div>{{ tickets.users.firstname }} {{ tickets.users.lastname}}</div> <h4 class="card-subtitle mb-2 text-body-secondary">{{ tickets.id }}</h4> <div>{{ tickets.dateTime ? tickets.dateTime|date('Y-m-d H:i:s') : '' }}</div>   </div>
							<p class="card-text">{{ tickets.description }}</p>
						</div>
					</div>
				</article>

				<h3 class="mt-2">Commentaires</h3>

				{% for comment in comments %}

					{% if comment.ticket.id == tickets.id %}
						<div class="card mb-2">
							<ul class="list-group list-group-flush">
								<li class="list-group-item">{{ comment.dateTime ? comment.dateTime|date('Y-m-d H:i:s'): '' }}</li>
								{% if comment.tagUser != null %}
									<li class="list-group-item">{{ comment.tagUser }}</li>
								{% endif %}
								<li class="list-group-item">{{ comment.users.firstname }}
									{{ comment.users.lastname}}</li>
								<li class="list-group-item">{{ comment.content }}</li>
                            </ul>
                        </div>
                    {% endif %}

                {% else %}
                    <div class="col-12">
                        <p>Il n'y a pas encore de commentaires pour ce ticket</p>
                    </div>        
                {% endfor %}
                <a href="{{ path('app_comment_new', {'id': tickets.id} )}}" class="btn btn-primary my-2">Ajouter un commentaire</a>
			</div>
		</section>
	</main>

{% endblock %}

