{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}

	<section class="container my-5" id="shadow-container">
		<div class="row">
			<div class="col">
				<h1 id="title-gradiant" class="my-3">Mon compte</h1>

				<table class="table-responsive">
					<tbody>
						<tr>
							<th>Email</th>
							<td>{{ user.email }}</td>
						</tr>
						<tr>
							<th>Prénom</th>
							<td>{{ user.firstName }}</td>
						</tr>
						<tr>
							<th>Nom</th>
							<td>{{ user.lastName }}</td>
						</tr>
						<tr>
							<th>Compteur d'aide</th>
							<td>{{ user.helpCount }}</td>
						</tr>
						<tr>
							<th>Mes tickets</th>
						</tr>
						
						<tr>
							<th>Mes commentaires</th>
						</tr>
					</tbody>
				</table>
				<a href="{{ path('app_main') }}" class="btn btn-info my-3">Retour accueil</a>
			</div>
		</div>
	</section>

    <section class="container my-4" id="shadow-container">
        <div class="row">
            <div class="col">
                <h3 id="title-gradiant" class="my-3">Mes Tickets</h3>
                <table class="table-responsive">
                    <tbody>
                        {% for ticket in user.tickets %}
							<tr>
								<th>Titre: </th>
								<td>
									{{ ticket.title }}
								</td>
							</tr>
							<tr>
								<th>Date: </th>
								<td>
									{{ ticket.dateTime ? ticket.dateTime|date('Y-m-d H:i:s'): '' }}
								</td>
							</tr>
							<tr>
								<th>Capture: </th>
								{% for picture in ticket.pictures %}
									<td>
										<img src="{{ asset('image/pictures/') ~ picture.name }}" alt="">
									</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Description: </th>
								<td>
									{{ ticket.description }}
								</td>
							</tr>
						{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="container my-5" id="shadow-container">
        <div class="row">
            <div class="col">
                <h3 id="title-gradiant" class="my-3">Mes Commentaires</h3>
                <table class="table-responsive">
                    <tbody>
                        {% for comment in user.comments %}
                            <tr>
								<th>Date: </th>
								<td>
									{{ comment.dateTime ? comment.dateTime|date('Y-m-d H:i:s'): '' }}
								</td>
							</tr>
							<tr>
								<th>Capture: </th>
								{% for picture in comment.pictures %}
									<td>
										<img src="{{ asset('image/pictures/') ~ picture.name }}" alt="">
									</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Description: </th>
								<td>
								    {{ comment.content }}	
								</td>
							</tr>
                            		
						{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}

