{% extends 'base.html.twig' %}

{% block title %}Ticket App
{% endblock %}

{% block body %}
	<div class="title">
		<img src="../public/image/pictures/barbare.png" alt="">
		<h1 class="mt-4" id="title-gradiant">Bienvenue sur BarbareTicket</h1>
	</div>
	<div class="container my-5" id="shadow-container">
		<div class="row">
			<aside class="col-12 col-lg-2">
				<h5 class="ms-2 mt-2">Les derniers tickets</h5>
				{% for tickets in ticket %}
					<a href="{{ path('app_show', {'id': tickets.id})}}">
						<article class="card mb-3">
							<div class="card-header">{{ tickets.title }}</div>
							<div class="card-body">
								<h6 class="card-subtitle mb-2 text-body-secondary">
									{{ tickets.id}}
								</h6>
								<p>
									{{ tickets.users.firstname }}
									{{ tickets.users.lastname}}
								</p>
							</div>
						</article>
					</a>
				{% endfor %}
			</aside>
			<main class="col-12 col-lg-10 border border p-2 rounded-end-4" id="main">
				{% block show %}{% endblock %}

			</main>
		</div>
	</div>
{% endblock %}
