<nav class="navbar navbar-expand-lg" id="navbar">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_main') }}">BarbareTicket</a>
		<button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('app_main') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('app_ticket_new')}}">Nouveau ticket</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Tickets
					</a>
					<ul class="dropdown-menu bg-black">
						<li>
							<a class="nav-link active" aria-current="page" href="#">Tickets résolus</a>
						</li>
						<li><hr class="dropdown-divider bg-white"></li>
						<li>
							<a class="nav-link active" aria-current="page" href="#">Mes tickets</a>
						</li>
						<li>
							<a class="nav-link active" aria-current="page" href="#">Mes commentaires</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('app_main') }}">Classement</a>
				</li>
			</ul>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('admin_index') }}">Administration</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Me déconnecter</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('app_register') }}">M'inscrire</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Me connecter</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
